<h1>WELCOME TO THE PING PONG GAME</h1>
<br>
<br>
<form action="/calculate" method="get">
	<label for="number" name="number">Enter the Number</label>
	<input name="number" value="" type="text" />
<br>
<br>
<button type="submit">Submit</button>
</form>
